:root {
  --my-font-family : Arial, Helvetica, sans-serif;
  --h1-size: 3.5rem;
  --h2-size: 2.5rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --body-size: 1.2rem;
  
  --primaryColor: #5E3AD4;
  --accentColor: #9A89B4;
  --backgroundShade: #FCF7FF;
  --textShade: #22115a;
  --neutralBlack: #222222;
  --neutralWhite: #F0F0F0;

  --bp-xs: 480px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1200px;
  --bp-xl: 1920px;

  @media only screen and (max-width: var(--bp-s)){
  --h1-size: 3rem;
  --h2-size: 2.25rem;
  --h3-size: 1.75rem;
  --h4-size: 1.25rem;
  }
  @custom-media --small-device (max-width: var(--bp-sm));
  @custom-media --medium-device (max-width: var(--bp-md));

}

html {
  font-size : 16px;
  font-family: var(--my-font-family);
  width: 100vw;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 800;
  margin: 0;
  color: var(--primaryColor);
}

h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  margin: 0;
  color: var(--primaryColor);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 600;
  margin: 0;
  color: var(--primaryColor);
}

h4 {
  font-size: var(--h4-size);
  font-weight: 500;
  margin: 0;
  color: var(--primaryColor);
}

p {
  font-size: var(--body-size);
  margin: 0;
  color: var(--textShade);
  line-height: 1.5rem;
}

